@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
$primary-color: rgb(194,0,28);
$secondary-color:rgb(249,248,248);
$primary-font:"Montserrat", sans-serif;
$secondary-font: "Outfit", sans-serif;